# IntelliJ / Android Studio
*.iml
.idea/
.DS_Store

# Gradle
.gradle/
build/
*/build/

# Local config
local.properties

# Android generated
captures/
.externalNativeBuild/
.cxx/
output-metadata.json

# APK / AAB
*.apk
*.aab

# Logs / profiling
*.log
*.hprof

# Keystore
*.jks
*.keystore

# Google services secrets
google-services.json